<div class="nested-fields">
  <table>
    <tr>
      <td class="td-fixed-select">
        <%= f.text_field :cleaning_tool_name %>
      </td>
      <td class="td-fixed-delete">
        <%= link_to_remove_association "削除", f %>
      </td>
    </tr>
  </table>
</div>