<div class="nested-fields">
  <div class="row form-box">
    <div class="col-lg-10 tool-form d-flex justify-content-center align-items-center w-100">
      <%= f.text_field :cleaning_tool_name, class: "text-field" %>
    </div>
    <div class="col-lg-2">
      <%= link_to_remove_association "削除", f, class: "btn btn-danger" %>
    </div>
  </div>
</div>