<div class="container">
  <div class="row">
    <% @category.each do |category| %>
      <%= link_to posts_path(category_id: category.id) do %>
        <%= category.category_name %>
      <% end %>
    <% end %>
  </div>
</div>