@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

// ヘッダーCSS

header{
  width: 100%;
  // // height:120px;　反映なし
  // padding:15px 0;
  margin: 1em auto 0em auto;
  // display: flex;
  text-decoration: none;
  margin-bottom: 30px;
}

.header-line {
  width: 100%;
  border-bottom: solid 1px #00ced1;
}

//.navbar-brand{/*反映無し*/
//  margin-bottom:20px;  
//}

// .logo{/*反映無し*/
//   margin-bottom:20px;  
// }

.search{
  margin-left:50px;
  margin-top:50px;
}

.nav-list-item {
  text-align: center;
  vertical-align: bottom;
  list-style-type: none;
}

.line{
  border-left: solid 1px #00ced1;
}

.i{
  width: 30px;
  height: 30px;
}

.image{
  vertical-align: middle;
}



// 全ページ共通CSS

h4{
  margin: 2% 0%;
  color: #4682b4;
}

.btn{
  margin: 3% 0%;
  text-align: center;
}

.flash-message{
  background-color: #ffd700;
}

// ログイン画面CSS
.login-field{
  margin: 10px 0px 10px;
}

// .login-input{
//   width: 100%;
// }

.input-form{
  width: 100%;
  // text-align: center;
}

// ユーザ登録画面CSS
.registration-field{
  margin: 10px 0px 10px;
}

// .registration-form{
//   width: 100%;
//   text-align: center;
// }

// .login-form

// トップページCSS

.post-box{
  position: relative;
  margin-bottom: 20px;
}

.index-post-img{
  position: relative;
  margin-bottom: 20px;
  width: 60%;
  
  img {
    width: 100%;
    border-radius: 20px;
  }
  .like{ 
  width: 4rem;
  height: 2rem;
  color:#ff69b4;
  background-color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 20%;
  cursor: pointer;
  
  position: absolute;
  top: 3%;
  left: 70%;
  }
}

.category-index { 
  padding: 0.1em 0.3em;
  margin: 1em;
}

.category-tag { 
  color: #4682b4;
  background: #f0f8ff;
  border: solid 0.5px #b0c4de;
  border-radius: 10px;
}



// 詳細ページCSS

.show-post-img{
  position: relative;
  margin-bottom: 20px;
  width: 40%;
  
  img {
    width: 100%;
    border-radius: 20px;
  }
}

#show-like{
  padding: 1% 2%;
  background-color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 20%;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  color:#ff69b4;
  
  a{
    color: #ff69b4;
  }
}

.intro{
  border: solid 1px #afeeee;
  border-radius: 5%;
  margin: 20px;
  padding: 1%;
  width: 95%;
}

.show-date{
  margin-bottom: 2%;
}

.category-area{
  margin-bottom: 2%;
  .category { 
  padding: 0.1em 0.3em;
  margin: 0.2em;
  }
}

.sub-title{
  margin: 2% 0%;
  font-size: 1.2rem;
  color: #4682b4;
}

.tool{
  border-bottom: solid 1px #afeeee;
  margin: 20px;
  width: 100%;
}

.recipe{
  border-bottom: solid 1px #afeeee;
  margin: 10px;
  padding: 10px;
}

.comment-box{
  margin: 1% 0%;
  
  form{
    width: 80%;
  }
  textarea{
    width: 100%;
  }
  .comment-list{
    margin: 1%;
    padding: 1%;
    border-bottom: solid 1px #afeeee;
  }
}

// 作成中投稿一覧
.num-items{
  font-size: 80%;
  margin: 0 0 0 20px;
}

.rough-draft{
  .title{
    width: 60%;
  } 
  .date{
    width: 25%;
  }
  .edit-btn{
    width: 15%;
    text-align: center;
  }
}

// 投稿済み投稿一覧、いいね一覧、コメント一覧CSS
.posted{
  
  .title{
    width: 50%;
  }
  .like{
    width: 10%;
  }
  .category{
    width: 15%;
  }
  .date{
    width: 10%;
  }
  .show-btn{
    width: 15%;
    text-align: center;
  }
}


// マイページCSS

.profile-box{
  width: 90%;
  padding: 1%;
  
}

.self-intro{
  width: 100%;
  border-radius: 5%;
  margin-bottom: 5%;
  padding: 1%;
  background-color: #f0f8ff;
}

.mypage-box{
  border: solid 2px #afeeee;
  margin: 2%;
}

.mypage-title{
  margin: 2% 0%;
  border-bottom: solid 2px #afeeee;
}

.mypage-list{
  margin: 1%;
  padding: 1%;
}

// ユーザ情報詳細ページCSS

.user-img{
  width: 100%;
  margin-bottom: 5%;
  img {
    width: 60%;
  }
}

.profile-box{
  margin-bottom: 5%;
  padding: 2%;
  border: solid 2px #afeeee;
}
.profile{
  margin: 1% 0%;
  padding: 1% 0%;
}

.profile-list{
  margin: 1%;
  padding: 1%;
}

.posted-list{
  padding: 1%;
  border-bottom: solid 2px #afeeee;
}

.user-info{
  margin-bottom: 2%;
  padding: 1% 0%;
  
  .form-expand{
    width: 100%;
  }
  .text-area{
    width: 100%;
    height: 100px;
  }
}

// ユーザ退会確認画面CSS

.confirm{
  margin-top: 5%;
  // p{
  //   text-align: center;
  // }
}

// 新規投稿画面、投稿編集画面CSS
.post-form{
  margin-bottom: 1%;
  
  .text-field{
      width: 60%;
    }
  .file-field{
    margin-bottom: 2%;
  }
  .form-box{
    border-bottom: solid 1px #00ced1;
    margin: 1%;
    padding: 2%;
  }
  label{
    display: inline-block;
    // width: 20%;
    margin: 0.5em;
  }
  .title{
    width: 60%;
  }
  textarea{
    width: 60%;
    height: 5em;
  }
  .tool-form{
    margin-bottom: 1%;
    
    .text-field{
      width: 100%;
    }
  }
  .recipe-form{
    margin-bottom: 1%;
    
    textarea{
      width: 100%;
    }
  }
}

// 管理者ユーザ一覧画面
.users{
  
  .user-id{
    width: 10%;
  }
  .user-name{
    width: 30%;
  }
  .email{
    width: 30%;
  }
  .user-status{
    width: 15%;
  }
  .show-btn{
    width: 15%;
  }
}

.user-show{
  
  .table {
  border-collapse: collapse;
  border-spacing: 0px; 
  }
  .table tr td:nth-child(1) {
  width: 30%;
  }
  .table tr td:nth-child(2) {
    width: 70%;
  }
}


.comment-index{
  .comment-id{
    width: 10%;
  }
  .comment-user{
    width: 20%;
  }
  .comment{
    width: 45%;
  }
  .date{
    width: 15%;
  }
  .show-btn{
    width: 10%;
  }
}

.comment-show{
  
  .table {
  border-collapse: collapse;
  border-spacing: 0px; 
  }
  .table tr td:nth-child(1) {
  width: 30%;
  }
  .table tr td:nth-child(2) {
    width: 70%;
  }
}

// フッターCSS

footer{
  width: 100%;
  height: 120px;
  margin-top: 30px;
  text-align: center;
  line-height: 120px;
  background-color:#b0e0e6;
}

.footer-text{
  color:#4682b4;
}