<div class="container">
  <div class="row">
    <h1>本当に退会しますか？</h1>
    <p>退会すると、マイページはご利用できなくなります。</p><br>
    <p>退会する場合は「退会する」をクリックしてください。</p>
    <%= link_to "退会しない", edit_user_path %>
    <%= link_to "退会する", users_withdrawal_path %>
  </div>
</div>