<% if model.errors.any? %>
  <div class="row">
    <%= model.errors.count %>件のエラーが発生しました
  </div>
    <ul class="alert alert-danger">
      <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>  
<% end %>